.home-section {
    display: flex;
    align-items: center;
    margin: 0px 50px;
    height: 100%;
    max-width: 100vw;
}

.intro-section {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 25px 50px;
}

.tokenomics-section {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 50px;
}

.nft-section {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 0px 50px;
}

.token-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0px 50px;
    align-items: left;
    flex: 1;
}

.logo-wrapper {
    flex: 1;
}

.intro-content {
    flex: 1;
}

.logo-wrapper img {
    width: 80%;
    height: 80%;
}

.nft-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-wrapper img {
    width: 80%;
    height: 80%;
}


.intro-content h1 {
    padding-bottom: 15px;
    font-size: 62px;
    font-weight: 800;
    text-shadow: 1px 1px #fff;
    color: #ffbb00
}

.intro-content p {
    font-size: 20px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}


.intro-content.nft p {
    padding-bottom: 40px;
}

.intro-content.nft a {
    font-size: 20px;
    color: black;
    font-weight: 700;
    background-color: #ffbb00;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.intro-content.nft a:hover {
    background-color: #ff9900;
}

.token-section a {
    font-size: 20px;
    color: black;
    font-weight: 700;
    background-color: #ffbb00;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    transition: 0.3s;
}

.token-section a:hover {
    background-color: #ff9900;
}

.token-section h1 {
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 62px;
    font-weight: 800;
    text-shadow: 1px 1px #fff;
    color: #ffbb00
}

.token-section p {
    width: 90%;
    font-size: 20px;
    padding-bottom: 35px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: justify;
}

.tokenomics-wrapper {
    flex: 1;
}

.tokenomics-wrapper img {
    width: 80%;
    height: 80%;
}

.intro-content.tokenomics p {
    padding-bottom: 25px;
    padding-top: 25px;
}

.intro-content.tokenomics li {
    font-size: 20px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 20px;
}

.token-id {
    padding-top: 70px;
}

.token-id span {
    color: #ff9900;
    font-weight: 800;
}


.discord {
    font-size: 20px;
    color: black;
    font-weight: 700;
    background-color: #ffbb00;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

h1 {
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 20px;
    height: 5px;
    width: 55px;
    border-radius: 8px;
    background-color: rgb(82, 113, 255);
}

.discord:hover {
    background-color: #ff9900;
}

.twitter {
    background-color: #00acee;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.twitter:hover {
    background-color: #018bc2;
}

.twitter-wrapper {
    padding-top: 25px;
}

.discord-wrapper {
    margin-top: 25px;
}

.token-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.supply-card {
    flex: 0.8;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.supply-card a {
    padding: 10px;
    background-color: #00acee;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 15px;
}



.supply-card a:hover {
    background-color: #018bc2
}

.supply-card p {
    width: 100%;
    margin: auto;
    color: white;
    padding: 10px 10px;
    margin: 0;
}


.supply-card h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}


@media(max-width: 980px) {


    .home-section {
        padding-top: 50px;
        margin: 0;
        max-width: 100vw;
        margin: auto;
        overflow-x: hidden;
    }

    .intro-section {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100vw;
    }

    .token-container {
        display: flex;
        flex-direction: column;
        width: 100vw;

    }

    .tokenomics-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .nft-section {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100vw;
        justify-content: space-between;
        padding: 0px 50px;
        flex-direction: column;
    }

    .nft-section img {
        padding-top: 50px;
    }

    .token-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        justify-content: center;
        padding: 0px 50px;
        align-items: left;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        padding-top: 25px;
    }

    .tokenomics-wrapper img {
        width: 100%;
        height: 100%;
    }


    body {
        background-size: 3200% 3200%;
    }

    .token-section p {
        width: 90%;
    }






}

@media(max-width: 550px) {
    .token-section h1 {
        font-size: 42px;
    }

    .intro-content h1 {
        font-size: 42px;
    }

    .token-id.active {
        font-size: 12px;
    }

    .timeline h1 {
        font-size: 42px;
    }

}



.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    margin-top: 100px;
    margin-bottom: 50px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 220px;
    bottom: 50px;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006E51;
    z-index: 1;
}

.container.right::before {
    left: 8px;
}

.container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -75px;
}

.container.right .date {
    left: -75px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #F6D155;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #006E51;
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px 90px 30px 30px;
    background: #F6D155;
    position: relative;
    border-radius: 0 500px 500px 0;
}

.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #006E51;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.timeline h1 {
    padding-bottom: 15px;
    margin-bottom: 100px;
    font-size: 62px;
    font-weight: 800;
    text-shadow: 1px 1px #fff;
    color: #ffbb00
}

@media (max-width: 767.98px) {

    .timeline {
        width: 90%;
        margin: auto;
    }

    .timeline h1 {
        font-size: 42px;
    }

    .timeline::after {
        left: 90px;
    }

    .container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }

    .container.right {
        left: 0%;
    }

    .container.left::after,
    .container.right::after {
        left: 82px;
    }

    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent #006E51 transparent transparent;
    }

    .container.left .date,
    .container.right .date {
        right: auto;
        left: 15px;
    }

    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }

    .container.left .content,
    .container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}

